*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #E4E9FD;
	background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
	min-height: 1000px;
	font-family: 'helvetica neue';
}

.container{
	position: relative;
	max-width: 800px;
	padding: 10px;
	margin: 50px auto;
}
.box {
	max-width: 400px;
	margin: 50px auto;
	background: white;
	border-radius: 5px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
button {
	min-height: 50px;
	width: 50px;
	border-radius: 50%;
	border-color: transparent;
	background-color: #A683E3;
	color: #fff;
	font-size: 30px;
	padding-bottom: 3.5px;
	border-width: 0;
	cursor: pointer;
  }
  
  input[type="text"] {
	text-align: center;
	height: 60px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 200;
	width: 313px;
  }
  
  input[type="text"]:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 #A683E3;
  }
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 20px;
}
h1{
	background-color: #cbb6f0;
	color: rgb(26, 26, 29);
	padding: 10px;	
	font-size: 56px;
	text-align: center;
	padding: 10px 10px 10px 10px;
  font-family: 'Shadows Into Light';
  
  
  
  }
h3{
	font-size: 28px;
	text-transform: uppercase;
	padding: 10px 10px 10px 10px;
  font-family: 'Shadows Into Light';
	text-align: center;
	color: rgb(51, 49, 49);
}
ol{
	list-style: none;
	counter-reset: my-counter;
	font-family: 'Merienda';
}
ol li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #a83a3abb;
	font-size: 22px;
	counter-increment: my-counter;
}
ol.Completed li{
	background: #3bec7f;
}

li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.footer {
	font-size: 16px;
	color: rgb(70, 63, 63);  
	text-align: center;
  }
  